<section id="portfolio" class="portfolio section-bg">
    <div class="container">

        <div class="section-title" style="text-align: center">
            <h1>Portfolio</h1>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-front">Front End</li>
                    <li data-filter=".filter-cSharp">C#-Based Game</li>
                    <li data-filter=".filter-store">Store Front</li>
                    <li data-filter=".filter-ATMApp">ATM App</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-3 col-md-12 portfolio-item filter-front">
                <!--For FrontEnd-->

                <div class="portfolio-wrap">
                    <div class="classmate centerText">
                        <img src="~/Content/assets/img/Front End (2).png" class="img-fluid rounded-circle" alt="Front End">
                        <div class="portfolio-links">
                            @*<a href="~/Content/assets/img/Front End (2).png" data-gall="portfolioGallery" class="venobox" title="Front End (HTML and CSS)"><i class="bx bx-plus"></i></a> MAYBE ADD TO CLASSMATES BELOW*@
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 portfolio-item filter-cSharp">
                <!--For FrontEnd-->

                <div class="portfolio-wrap">
                    <div class="classmate centerText">
                        <img src="~/Content/assets/img/Console App.png" class="img-fluid rounded-circle" alt="C# Home Alone Game">
                        <div class="portfolio-links">
                            @*<a href="~/Content/assets/img/Console App.png" data-gall="portfolioGallery" class="venobox" title="C# Home Alone Game"><i class="bx bx-plus"></i></a>*@
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 portfolio-item filter-store">
                <!--For FrontEnd-->

                <div class="portfolio-wrap">
                    <div class="classmate centerText">
                        <img src="~/Content/assets/img/BusinessSite.png" class="img-fluid rounded-circle" alt="Store Front" />
                        <div class="portfolio-links">
                            @*<a href="~/Content/assets/img/BusinessSite.png" data-gall="portfolioGallery" class="venobox" title="Store Front"><i class="bx bx-plus"></i></a>*@
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 portfolio-item filter-ATMApp">
                <!--For FrontEnd-->

                <div class="portfolio-wrap">
                    <div class="classmate centerText">
                        <img src="~/Content/assets/img/ATM.png" class="img-fluid rounded-circle" alt="ATM App" />
                        <div class="portfolio-links">
                            @*<a href=~/Content/assets/img/ATM.png" data-gall="portfolioGallery" class="venobox" title="ATM Application"><i class="bx bx-plus"></i></a>*@
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>